<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!-- link mycss -->
    <link rel="stylesheet" href="css/style.css">

    <title>To do list</title>

</head>
<body>
    <!-- link vue -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <div id="app">

        
        <div class="container">
            
            <h1>To do list</h1>
            
            <ul id = "list-items">
                
                <li v-for="(item, index) in items"> 

                    <span @click="toggleItem(item)" :class="item.done == true ? 'check' : ''"> {{item.text}}</span> 
                    <span class="cross" @click="deleteItem(index)"> &cross; </span>
                    
                </li>
                
            </ul>

            <input id="input" @keyup.enter="addItem()" v-model="newItem.text" type="text" placeholder="Write text">

            <button @click="addItem()">Enter</button>

            
        </div>

    </div>


    <!-- link myjs -->
    <script src="js/script.js"></script>
</body>
</html>